body, html{
	font-family:arial, helvetica, sans-serif;
	font-size:12px;
}

header{
	background:#DEDEDE;
	margin-bottom:10px;
}

/* sidebar */
aside{
	
}

footer{
	background:#DEDEDE;
	margin-top:10px;
}

